<a href="https://colab.research.google.com/github/shawns21/TTPBootcamp/blob/main/Intro_to_Python_II.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Operators

## Boolean Oprator

In [23]:
is_day = True
is_night = False

print(is_day)
#using boolean true or false and storing them in variables then printing them out

True

## Comparison Operators

In [24]:
x, y = 9, 25
#defining two varaiables with 9 and 25 with a comma

In [25]:
print(x == y) # is x equal to y

False

In [26]:
print(x != y)
#x is not equal to y

True

In [27]:
print(x > y)
#is x greater than y

False

In [28]:
print(x < y)
#is x less than y

True

In [29]:
print(x >= y)
#is x greater than or equal to y

False

In [30]:
print(x <= y)
#is x less than or equal to y

True

## Logical Operator

#### The `and` Operator

In [31]:
x

9

In [32]:
y

25

In [33]:
print(x > 5 and y < 30)
#printing true or false whether x is greater than 5 and y is less than 30

True

In [34]:
print(x > 10 and y < 30)

False

#### The `or` Operator

In [35]:
print(x > 5 or y > 30)
print(x < 5 or y > 30)
#printing x is less than 5 or y is greater than 30

True
False

#### The `Not` Operator

In [36]:
print(not(x > 5))
print(not(y > 30))
#using not operator to negate boolean operator of x > 5

False
True

In [37]:
result = 5.3 * 9.58 >= 3.23 * 15.3
print(f"The expression is {result}")
#getting the boolean value from a boolean expression with mulitplication

The expression is True

In [38]:
result = ((True and False) or (True or False))
print(f"The expression is {result}")
#Using and operators and then a or operator between those two

The expression is True

In [39]:
result = not ((3 >= 3) and (False or (2 < 5)))
print(f"The expression is {result}")
#using not over the entire boolean expression in the parentheses

The expression is False

## Identity Operator

In [40]:
print("cat" is "cat")
#print('cat' == 'cat')

True

<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<ipython-input-40-38415f1a02ed>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  print("cat" is "cat")

In [41]:
print("cat" is "dog")
#using is instead of ==

False

<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<ipython-input-41-9f4bc4f665ad>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  print("cat" is "dog")

In [42]:
print("cat" is not "cat")
#using is not instead of !=

False

<>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<ipython-input-42-3f07290bb834>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
  print("cat" is not "cat")

In [43]:
print("cat" is not "dog")

True

<>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<ipython-input-43-5594a05aa962>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
  print("cat" is not "dog")

In [44]:
fruit = "banana"
print('na' in fruit)
print('na' not in fruit)
#getting boolean operators from in and not in expressions to find a sequeunce of strings in another string

True
False

# Collection Data Types

## Lists

In [ ]:
numbers = [3, 7, 5, 4, 7, 5, 6, 3, 3, 3, 3]
print(numbers)
print(numbers[1])
print(numbers[-1])
#finding values of a index of a list

[3, 7, 5, 4, 7, 5, 6, 3, 3, 3, 3]
7
3

In [46]:
names = ["Alice", "Bob", "Carol", "Dan"]
print(names[0])
print(names[2])
#using [] to get the first and third values of the list

Alice
Carol

In [47]:
print(names[0][3])
#Finding the first element in the list, then fiding the fourth charachter in the string

c

In [ ]:
print(names[-1])
print(names[-3])
#finding the character from the back of the list with negative index

Dan
Bob

In [ ]:
print(names[1:3])
#Finding items from the second index to the third index

['Bob', 'Carol']

In [ ]:
print(names[0:4])
#printing items from the first index to the fourth index

['Alice', 'Bob', 'Carol', 'Dan']

In [ ]:
print(names[0:-1])
#items from the front to the second to last item

['Alice', 'Bob', 'Carol']

In [ ]:
print(names[0:])
#this prints all the names

['Alice', 'Bob', 'Carol', 'Dan']

In [ ]:
string = 'olivia'

In [ ]:
string[2]

'i'

In [ ]:
# string[2] = 5

In [ ]:
names = ['Alice', 'Bob', 'Carol', 'Dan']
print(names)
names[1] = 'Bobby'
print(names)
#Changing a item in a list with index assigment

['Alice', 'Bob', 'Carol', 'Dan']
['Alice', 'Bobby', 'Carol', 'Dan']

#### Practice Ex.

In [48]:
my_list = input('Enter elements of a list separated by space ')
_list = my_list.split()
print('list: ', _list)
#splitting the string inputed into a list that is seperated by spaces

Enter elements of a list separated by space 3, 4, 5, shawn
list:  ['3,', '4,', '5,', 'shawn']

#### Nested Lists

In [ ]:
matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
#containing three lists in one list

In [ ]:
print(matrix)
#printing it out

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [ ]:
print(matrix[1][2])
#going to the first list, then printing a item from its third index

6

In [ ]:
print(matrix[2][0])

7

In [ ]:
matrix = [[[1, 2], [3, 4, 6, 4, 6]], [[5, 6], [7, 8]]]
print(matrix)
print(matrix[0][1][0])
#printing an item from the first list, then the second list in that list, then the first item in that list

[[[1, 2], [3, 4, 6, 4, 6]], [[5, 6], [7, 8]]]
3

In [ ]:
print(len(matrix))
print(len(matrix[0][1]))
#printing the length of the different lists

2
5

#### Lists Functions

In [ ]:
pets = ['cat', 'dog', 'parrot']
print(len(pets))
#printing the length of the list

3

In [ ]:
print(pets)
pets.append('fish')
print(pets)
#adding a item to the back of the list

['cat', 'dog', 'parrot']
['cat', 'dog', 'parrot', 'fish']

In [ ]:
dir(pets)
#all of the functions we can use on the list data type

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [ ]:
pets.insert(1, 'hamster')
print(pets)
#inserting a item into a specific index of the list

['cat', 'hamster', 'dog', 'parrot', 'fish']

In [ ]:
print('cat' in pets)
#finding boolean value if a item is in a list

True

In [ ]:
print('tiger' in pets)

False

In [ ]:
pets.remove('fish')
#removing a item from a list

In [ ]:
pets

['cat', 'hamster', 'dog', 'parrot']

In [ ]:
pets.remove(pets[3])
#removing a item from a certain index

In [ ]:
pets

['cat', 'hamster', 'dog']

In [ ]:
pets.pop()
#removing the item from the back of the list

'dog'

In [ ]:
pets.pop(0)
#removing the item from the first index

'cat'

In [ ]:
pets = ['cat', 'dog', 'parrot']

In [ ]:
pets

['cat', 'dog', 'parrot']

In [ ]:
del pets[1]

In [ ]:
pets

['cat', 'parrot']

In [ ]:
pets.clear()
#removing elements from a list

In [ ]:
pets

[]

In [ ]:
pets

[]

In [ ]:
pets = None

#### Iterators

In [49]:
my_cat = "Fluffy"
my_iterator = iter(my_cat)
#creating a iterator for the string my_cat which adds a iterative element to the string

<str_iterator object at 0x7f24b56fac20>

In [ ]:
print(next(my_iterator))
#printing the first item in the iterator which starts at the begining of the string

F

In [ ]:
print(next(my_iterator))
#going on to the next index

l

In [ ]:
print(next(my_iterator))

u

## Tuples

In [ ]:
dinner = ('chicken', 'fries', 18)
print(dinner)
print(type(dinner))
#using a tuple to store multiple values in one list

('chicken', 'fries', 18)
<class 'tuple'>

In [ ]:
breakfast = ('eggs', )
print(breakfast)
print(type(breakfast))

('eggs',)
<class 'tuple'>

In [ ]:
lunch = ()
print(lunch)
print(type(lunch))
#the () creates a empty tuple

()
<class 'tuple'>

In [ ]:
dir(dinner)
#seeing all the functions that a tuple can have

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [ ]:
my_desk = ("laptop", "mouse", "paper", "pen")
print(my_desk[1])
print(my_desk[-1])
#using the same index properties as a list

mouse
pen

In [ ]:
new_desk = my_desk[1:3]
print(new_desk)
print(type(new_desk))

('mouse', 'paper')
<class 'tuple'>

In [ ]:
print(my_desk[1:])

('mouse', 'paper', 'pen')

In [ ]:
my_desk = ("laptop", "mouse", "paper", "pen")
new_desk = my_desk[1:3]
print(new_desk)
print(type(new_desk))

('mouse', 'paper')
<class 'tuple'>

In [ ]:
new_desk = my_desk + ("coffee", )
print(new_desk)
print(type(new_desk))

('laptop', 'mouse', 'paper', 'pen', 'coffee')
<class 'tuple'>

In [ ]:
my_desk_list = list(my_desk)
#converting tuple back into a list

In [ ]:
my_desk_list.append("phone")
new_desk = tuple(my_desk_list)
print(new_desk)
print(type(new_desk))
#appending to the list then turning it back into a tuple

('laptop', 'mouse', 'paper', 'pen', 'phone')
<class 'tuple'>

In [ ]:
new_desk

('laptop', 'mouse', 'paper', 'pen', 'phone')

In [ ]:
type(new_desk)

tuple

In [ ]:
# new_desk.append('pencil')
new_desk = my_desk + ("pencil", )

#### Tupples use cases

In [ ]:
db = ('Oracle', 'SQL')

In [ ]:
new_db = db + ('username', 'password')
print(new_db)
print(type(new_db))
#combining a tuple with another tuple with the + operator

('Oracle', 'SQL', 'username', 'password')
<class 'tuple'>

In [ ]:
friend1 = ('Alex', 25, False)
friend2 = ('Diane', 23, False)
friend3 = ('Michael', 32, True)

In [ ]:
print(friend1)
print(friend2)
print(friend3)

('Alex', 25, False)
('Diane', 23, False)
('Michael', 32, True)

In [ ]:
friend2 = ("Erica",) + friend2[1:]
print(friend2)
print(type(friend2))
#adding certain sections of three different tuples together

('Erica', 23, False)
<class 'tuple'>

#### Tuples Functions

In [ ]:
my_desk = ('laptop', 'mouse', 'paper', 'pen')
print(len(my_desk))
#length of a tuple

4

In [ ]:
# del my_desk
print(my_desk)

('laptop', 'mouse', 'paper', 'pen')

In [ ]:
digits = (3, 7, 5, 6, 3, 5, 7, 6, 3, 2, 8, 6, 3, 5)
print(digits.count(3))
print(digits.count(5))
#Finding how many 3 and 5s there are in the tuple

4
3

In [ ]:
print(digits.index(8))
print(digits.index(7))

10
1

## Sets

In [ ]:
days = ("Mon", "Tue", "Wed", "Thu", "Fri", "Tue", "Tue")

In [ ]:
type(days)

tuple

In [ ]:
print(days)

('Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Tue', 'Tue')

In [ ]:
days = set(days)
#converting tuple into a set which removes duplicates

In [ ]:
days

{'Fri', 'Mon', 'Thu', 'Tue', 'Wed'}

In [ ]:
type(days)

set

In [ ]:
dir(days)
#functions that can be used with sets
#fucnction that is s in that can be usded in the with sets
#fucnction that is s in that can be usded in the with sets

['__and__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

#### Updating Sets

In [ ]:
days = {"Mon", "Tue", "Wed"}
days.add("Thu")
print(days)
#adding to a set

{'Tue', 'Mon', 'Wed', 'Thu'}

In [ ]:
days.update(['Fri', 'Sat', 'Tue'])
print(days)
#adding to a set with update

{'Tue', 'Mon', 'Thu', 'Wed', 'Fri', 'Sat'}

In [ ]:
days.remove('Mon')
print(days)
#removing from a set

{'Tue', 'Thu', 'Wed', 'Fri', 'Sat'}

In [ ]:
days.pop()
print(days)
#removing from a set with pop

{'Thu', 'Wed', 'Fri', 'Sat'}

In [ ]:
days.clear()
print(days)

set()

In [ ]:
days

set()

In [ ]:
# del days
# print(days)

## Dictionaries

In [ ]:
my_cat = {'name': 'Fluffy', 'age': 2,'color': 'black'}
#creating a dictionary which holds key and values for each key

In [ ]:
type(my_cat)

dict

In [ ]:
dir(my_cat)
#functions used with dictionaries

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [ ]:
print(my_cat['name'])
#printing the value of the key 'name'

Fluffy

In [ ]:
print(my_cat.get('age'))
#getting the value of the key 'age'

2

In [ ]:
print(my_cat.values())
#getting all the values in the dictionary without the keys

dict_values(['Fluffy', 2, 'black'])

In [ ]:
print(my_cat.keys())
#getting all of the keys in the dictionary

dict_keys(['name', 'age', 'color'])

In [ ]:
my_cat

{'name': 'Fluffy', 'age': 2, 'color': 'black'}

In [ ]:
print(my_cat.items())
#printing out the contents of the dictionary in key value format

dict_items([('name', 'Fluffy'), ('age', 2), ('color', 'black')])

In [ ]:
print('name' in my_cat)
#finding a value in a dictionary

True

In [ ]:
print('fluffyness' in my_cat)

False

#### Updating Dictionaries functions

In [ ]:
print(my_cat)
my_cat['gender'] = 'male'
print(my_cat)
#changing values in the dictionary key values

{'name': 'Fluffy', 'age': 2, 'color': 'black'}
{'name': 'Fluffy', 'age': 2, 'color': 'black', 'gender': 'male'}

In [ ]:
my_cat

{'name': 'Fluffy', 'age': 2, 'color': 'black', 'gender': 'male'}

In [ ]:
my_cat.pop('color')
print(my_cat)
#removing a value from the key that it is associated with

{'name': 'Fluffy', 'age': 2, 'gender': 'male'}

In [ ]:
my_cat.popitem()
print(my_cat)
#removing the entire key from the back of the dictionary

{'name': 'Fluffy', 'age': 2}

In [ ]:
# my_cat.clear()
# print(my_cat)

In [ ]:
# del my_cat['age']
# print(my_cat)

In [ ]:
my_cat['name'] = 'Fluffer'
print(my_cat)

{'name': 'Fluffer', 'age': 2}

#### Nesting Dictionaries

In [ ]:
family = {
    "child1": {
        'name': 'Alex',
        'year': 2004
    },

    'child2': {
        'name': 'Monica',
        'year': 2007
    }
}
#creating a dictionary inside of a dictionary

In [ ]:
family

{'child1': {'name': 'Alex', 'year': 2004},
 'child2': {'name': 'Monica', 'year': 2007}}