<a href="https://colab.research.google.com/github/shawns21/TTPBootcamp/blob/main/introPython1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Basic:

## Strings & the print () function

In [49]:
print("Hello World")

#using the print function to ouput the string "Hello World"

Hello World

In [50]:
print("""Hello

My Name Is

Shawn""")

#using triple quotes """ to output a multi line sentence that also spaces

Hello

My Name Is

Shawn

In [51]:
print("My favorite" + "number is" + str(33))

#using the concatination feature to add the string "My favorite" and "number is" with the string version of 33, the str() function converts the integer 33 to "33"

My favoritenumber is33

#Variables

In [52]:

x = 45

#declaring a variable x with the integer value of 45

In [53]:
x = "Shawn Sinanan is 20 years old"

#storing the string "Shawn Sinanan is 20 years old" in the variable x

In [54]:
print(x[3], x[5], x[12])

#since a string is a array of characters, I am printing the characters in the index of 3, 5 and 12 with the x[] sign

w   n

#Format

In [55]:
string = f"Here is a fact: {x}"

#using the format f"" to insert the varaible x into the string where the {} are placed

In [56]:
string

#printing out the string to show it has been inserted

'Here is a fact: Shawn Sinanan is 20 years old'

In [57]:
x = "Monday"

#changing the value of x

In [58]:
string = f"Today is {x}"

#redefining the string so I can see the different formated string

In [59]:
string

'Today is Monday'

#Str Functions

In [60]:
dir(string)
#Here is a directory full of functions that can be used on the string variable

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [61]:
string = "Hello my name is Shawn"

In [62]:
words = string.split(" ")
#using the split function to seperate the string by spaces into a list and name that list words

In [63]:
print(words)
#printing out the list called words

['Hello', 'my', 'name', 'is', 'Shawn']

In [64]:
elements = string.split("n")
#using the split function to split the string by the letter n

In [65]:
print(elements)
#printing out the new list

['Hello my ', 'ame is Shaw', '']

In [66]:
print(string.upper())
#making the entire string uppercase with the upper function

HELLO MY NAME IS SHAWN

In [67]:
print(string.lower())
#making the string lowercase with lower function

hello my name is shawn

#The input() method

In [68]:
data = input("Enter your name: ")
print(f"Hello {data}, how is your day?")
#Using input function to get input from the user and storing it in data, then printing it out using the format f

Enter your name: Shawn
Hello Shawn, how is your day?

In [69]:
print(data)
#printing out the varaible that the input was stored

Shawn

In [70]:
num = input("Enter a number:")
num

Enter a number:56

'56'

In [71]:
type(num)
#getting the data type that the variable is holding

str

In [72]:
int(num)
#converting the string into a number with the int() function

56

In [73]:
name = input("What is your name?")
hobby = input("What is your favorite hobby?")
age = input("What is your age?")

print(f"Hello, {name} I also like {hobby} and I am {age} years old")
#Getting three inputs and then printing them out with the f format

What is your name?Shawn
What is your favorite hobby?Biking
What is your age?20
Hello, Shawn I also like Biking and I am 20 years old

#Numbers

In [74]:
cats = 7
money = -35.5
x = 2+5j
message = "Hello Alice!"
#showing the different ways of storing different types of numbers

In [75]:
print(type(cats))
print(type(money))
print(type(x))
print(type(message))
#printing out each type

<class 'int'>
<class 'float'>
<class 'complex'>
<class 'str'>

In [76]:
shoes = 5
print(f"I own {shoes} pairs of shoes")
print(type(shoes))
#using f format and printing the type of the variable used

I own 5 pairs of shoes
<class 'int'>

In [77]:
a = 6
b = 2.5
print(f"{a} * {b} = {a * b}")
print(type(a * b))
#using multiplication in the format curly brackets

6 * 2.5 = 15.0
<class 'float'>

#Conversions

In [78]:
value = 3.8
convert = int(value)
print(convert)
print(type(convert))
#converting different types of numbers, like float to a integer

3
<class 'int'>

In [79]:
number = int("25")
print(number)
print(type(number))
#turning a string into a integer

25
<class 'int'>

In [80]:
num2 = 'twenty'
print(len(num2))
#printing the length of a string

6

In [81]:
value = 78
convert = float(value)
print(convert)
print(type(convert))
convert = float("56.48")
print(convert)
print(type(convert))
#converting a integer into a float

78.0
<class 'float'>
56.48
<class 'float'>

In [82]:
value = 38
convert = complex(value)
print(convert)
print(type(convert))
#turning a integer into a complex number with the 0j appened to the end

(38+0j)
<class 'complex'>

In [83]:
value = 28.4875
convert = str(value)
print(convert)
print(type(convert))
#converting a float into a string

28.4875
<class 'str'>

In [84]:
pi = 3.14159
print(type(pi))
print(int(pi))
print(complex(pi))
print(str(pi))

<class 'float'>
3
(3.14159+0j)
3.14159

#Operations

The modulus operator

In [85]:
print(259 % 4)
#using modulus operator to find remainder of 259 divided by 4

3

The power operator

In [86]:
print(9 ** 4)
#using the * sign twice to find a number to the power of another number

6561

the floor operator

In [87]:
print(9 // 4)
#finding the quotient of 9 divided 4 with the //

2

assignment operators

In [88]:
x += 4
print(x)
#using addition assignment which adds 4 to the number and then redefines x

(6+5j)

In [89]:
x -= 4
print(x)

(2+5j)

In [90]:
x *= 4
print(x)

(8+20j)

In [91]:
x /= 4
print(x)

(2+5j)